* {
	border: 1px solid black;
	box-sizing: border-box;
	color: white;
	margin: 0;
}

body {
	height: 100vh;
	width: 100vw;
	background: linear-gradient(#2b2d42, #363853);
}

.header {
	border-color: red;
	height: 80px;
	width: 100vw;
	display: flex;
	justify-content: center;

	> nav {
		display: flex;
		background-color: white;
		border: none;
		justify-content: center;
		align-items: center;
		width: 75%;

		> .nav-list {
			display: inline-flex;
			height: 100%;
			width: 100%;
			list-style-type: none;
			align-items: center;

			> img {
				background-color: black;
				height: 100%;
				width: 10%;
				border: black;
			}

			> .nav-item {
				color: black;
				border: none;
				justify-content: space-between;
			}
		}
	}
}
