* {
	margin: 0;
}

body {
	height: 100vh;
	width: 100vw;
	background: linear-gradient(#2b2d42, #363853);
}

nav {
	height: 10%;
	border: 1px solid black;

	ul {
		display: flex;
		align-items: center;
		list-style-type: none;
		height: 100%;
		// justify-content: space-evenly;

		> li {
			flex-basis: 33%;
			font-size: 25px;
			text-align: center;
		}
	}
}
